<footer class="footer text-center">
  <div class="footer-contact">
    <div class="container">
      <div class="row gy-4 text-white py-5">
        <div class="col-md-4">
          <div class="content">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content">
            <h3>AROUND THE WEB</h3>
            <div class="icons">
              <i
                class="fa-brands fa-facebook border border-1 border-white p-2 rounded-pill me-2"
              ></i>
              <i
                class="fa-brands fa-twitter border border-1 border-white p-2 rounded-pill me-2"
              ></i>
              <i
                class="fa-brands fa-linkedin-in border border-1 border-white p-2 rounded-pill me-2"
              ></i>
              <i
                class="fa-solid fa-globe border border-1 border-white p-2 rounded-pill me-2"
              ></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content">
            <h3>ABOUT FREELANCER</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text py-4 text-white">
    <p class="mb-0">Copyright © Your Website 2025</p>
  </div>
</footer>
