<div class="contact-content py-5">
  <div class="container">
    <h3 class="fw-bolder fs-1 text-uppercase text-center">contact section</h3>
    <div
      class="special py-3  text-center d-flex align-items-center justify-content-center"
    >
      <div class="one me-3 "></div>
      <i class="fa-solid fa-star"></i>
      <div class="two ms-3 "></div>
    </div>
    <div
      class="group d-flex justify-content-center flex-column align-items-center"
    >
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">userName </label>
      </div>
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">userAge </label>
      </div>
      <div class="form-floating mb-4">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">userEmail </label>
      </div>
      <div class="form-floating mb-4">
        <input
          type="password"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">userPassword </label>
      </div>
      <button class="btn bg-danger my-4 text-white  boox">
        send Message
      </button>
    </div>
  </div>
</div>
