<div
  class="home-content text-white py-5 d-flex justify-content-center align-items-center flex-column"
>
  <div class="image mb-5">
    <img src="/images/avataaars.svg" class="w-100" alt="" />
  </div>
  <h3 class="fw-bolder fs-1 text-uppercase">start Framework</h3>
  <div
    class="special py-3 text-white text-center d-flex align-items-center justify-content-center"
  >
    <div class="one me-3 bg-white"></div>
    <i class="fa-solid fa-star"></i>
    <div class="two ms-3 bg-white"></div>
  </div>
  <p>Graphic Artist - Web Designer - Illustrator</p>
</div>
